# IoT 사물인터넷 with 라즈베리파이
다음은 회사에 속한 사원들의 정보입니다.  
주어진 코드를 이용하여 문제를 풀어보세요.

In [ ]:
import pandas
import numpy as np
data = {
    '사원번호' : ['001', '002', '003', '004', '005', '006', '007', '008'],
    '부서명' : ['영업부', '인사부', '개발부', '개발부','인사부', '개발부','영업부', '개발부'],
    '사원명' : ['김자바', '이자바', '박자바', '정자바', '최자바', '강자바', '윤자바', '조자바'], # (단위 : 만 명)
    '근속년수':[3, 5, 1, 2, 3, 8, 6, 1],
    '사용언어':[np.nan, np.nan, 'Java', 'Python', np.nan, 'Python', np.nan, 'C#' ],
    '키' : [176.5, 161.1, 158.9, 177.5, 182.6, 166.6, 170.8, 174.7],
}
#DataFrame 객체 생성
df = pandas.DataFrame(data)
#사원번호 컬럼을 index로 지정
df.set_index('사원번호', inplace=True)
df

1. 전체 데이터 중 '사원명' 정보만 출력하시오.

In [ ]:
df['사원명']

2. 전체 데이터 중에서 '부서명', '사원명', '근속년수' 정보를 출력하시오.

In [ ]:
df[['부서명', '사원명', '근속년수']]

3. 개발부서에 속한 사원들의 '부서명', '사원명' 정보를 출력하시오.

In [ ]:
df.loc[df['부서명'] == '개발부', ['부서명', '사원명']]

4. 키가 170.0 이하이거나 180.0 이상인 사원들의 '부서명', '사원명','키'를 출력하시오.

In [ ]:
df.loc[(df['키'] <= 170.0) | (df['키'] >= 180.0), ['부서명', '사원명', '키']]

5. 전체 데이터를 '부서명' 기준 오름차순으로 정렬 후 '사원명' 기준 내림차순으로 정렬하여 출력하시오.

In [ ]:
df.sort_values(by=['부서명', '사원명'], ascending=[True, False])

6. 사용언어가 'NaN' 인 데이터를 모두 '사용언어없음'으로 바꾸고, 바뀐 내용을 저장하여 출력하시오.

In [ ]:
df['사용언어'].fillna('사용언어없음', inplace=True)

7. 개발부에 속한 사원들 중 근속년수가 1년인 사원들의 평균 키를 출력하시오.

In [40]:
avgHeight = df.loc[(df['부서명'] == '개발부') & (df['근속년수'] == 1), '키']
avgHeight.mean()

np.float64(166.8)